Repository Richasy/Bili.Uwp, pull requests merged in 2021-11, with the labels that each got.

#554 更改系统字体列表的读取方式以避免崩溃
  src/Utilities/Toolkit/Toolkit.Uwp/FontToolkit.cs
Labels: bug 🐛

#576 修复番剧不加载字幕的问题
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
Labels: bug 🐛

#588 修复字幕在小窗模式下不显示的问题
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.xaml
Labels: bug 🐛, 操作与体验 🧤

#589 添加分集索引视图
  src/App/Controls/Player/Related/EpisodeView.xaml
  src/App/Controls/Player/Related/VideoPartView.xaml
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/Models/Models.Enums/App/LanguageNames.cs
  src/Models/Models.Enums/App/SettingNames.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
Labels: 功能 💡

#635 支持搜索建议
  src/App/Controls/Search/SearchSuggestBox.xaml
  src/App/Controls/Search/SearchSuggestBox.xaml.cs
  src/Controller/Controller.Uwp/BiliController.Search.cs
  src/Lib/Lib.Interfaces/ISearchProvider.cs
  src/Lib/Lib.Uwp/SearchProvider/SearchProvider.cs
  src/Models/Models.App/Constants/ApiConstants.cs
  src/ViewModels/ViewModels.Uwp/Account/UserViewModel/UserViewModel.cs
  src/ViewModels/ViewModels.Uwp/Home/SearchViewModel/SearchModuleViewModel/SearchModuleViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Home/SearchViewModel/SearchModuleViewModel/SearchModuleViewModel.cs
Labels: 功能 💡

#636 修复PGC内容没有记录播放进度的问题
  src/App/App.csproj
  src/App/Controls/Search/SearchSuggestBox.xaml.cs
  src/Controller/Controller.Uwp.UnitTests/Controller.Uwp.UnitTests.csproj
  src/Controller/Controller.Uwp/BiliController.Player.cs
  src/Controller/Controller.Uwp/Controller.Uwp.csproj
  src/Lib/Lib.Interfaces/Lib.Interfaces.csproj
  src/Lib/Lib.Uwp/Lib.Uwp.csproj
  src/Lib/Lib.Uwp/PlayerProvider/PlayerProvider.cs
  src/Models/Models.App/Constants/ServiceConstants.cs
  src/Utilities/Locator/Locator.Uwp.UnitTests/Locator.Uwp.UnitTests.csproj
  src/Utilities/Locator/Locator.Uwp/Locator.Uwp.csproj
  src/Utilities/Toolkit/Toolkit.Uwp.UnitTests/Toolkit.Uwp.UnitTests.csproj
  src/Utilities/Toolkit/Toolkit.Uwp/Toolkit.Uwp.csproj
  src/ViewModels/ViewModels.Uwp.UnitTests/ViewModels.Uwp.UnitTests.csproj
  src/ViewModels/ViewModels.Uwp/Account/AccountViewModel/AccountViewModel.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/ViewModels.Uwp.csproj
Labels: bug 🐛

#637 支持点击评论/视频条目的用户头像显示用户信息
  src/App/Controls/App/CenterPopup/CenterPopup.cs
  src/App/Controls/Common/ReplyItem.xaml
  src/App/Controls/Common/ReplyItem.xaml.cs
  src/App/Controls/Common/VideoItem.xaml
  src/App/Controls/Common/VideoItem.xaml.cs
  src/App/Pages/RootPage.xaml.cs
Labels: 功能 💡

#660 修复视频播放速率对直播造成的影响
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Methods.cs
Labels: bug 🐛

#661 修复PGC内容部分字段解析失败的问题
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.xaml
  src/Models/Models.BiliBili/Core/Video/VideoBase.cs
  src/Models/Models.BiliBili/Core/VideoStatusInfo.cs
  src/Models/Models.BiliBili/Pgc/PgcDisplayInformation.cs
  src/ViewModels/ViewModels.Uwp/Common/DanmakuViewModel/DanmakuViewModel.Methods.cs
Labels: bug 🐛

#662 优化单击和切换分集的行为
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Methods.cs
Labels: 操作与体验 🧤

#663 修复账户异常导致循环登录的问题
  src/Controller/Controller.Uwp/BiliController.Account.cs
  src/ViewModels/ViewModels.Uwp/Account/AccountViewModel/AccountViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Account/AccountViewModel/AccountViewModel.cs
Labels: bug 🐛

#666 支持检查上次应用关闭时正在播放的视频
  src/App/App.csproj
  src/App/Controls/Dialogs/ContinuePlayDialog.xaml
  src/App/Controls/Dialogs/ContinuePlayDialog.xaml.cs
  src/App/Controls/Settings/InitialCheckSection.xaml
  src/App/Controls/Settings/InitialCheckSection.xaml.cs
  src/App/Pages/Overlay/PlayerPage.xaml.cs
  src/App/Pages/RootPage.xaml.cs
  src/App/Pages/SettingPage.xaml
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/Models/Models.App/Constants/AppConstants.cs
  src/Models/Models.App/Other/CurrentPlayingRecord.cs
  src/Models/Models.Enums/App/LanguageNames.cs
  src/Models/Models.Enums/App/SettingNames.cs
  src/ViewModels/ViewModels.Uwp/Common/AppViewModel/AppViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/AppViewModel/AppViewModel.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Common/SettingViewModel/SettingViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/SettingViewModel/SettingViewModel.cs
Labels: 功能 💡
