Repository Richasy/Bili.Uwp, pull requests merged in 2022-08, with the labels that each got.

#1432 拆分搜索视图模型
  src/App/Controls/Search/SearchSuggestBox.xaml.cs
  src/App/Pages/Base/SearchPageBase.cs
  src/App/Pages/Desktop/Overlay/SearchPage.xaml
  src/App/Pages/Desktop/Overlay/SearchPage.xaml.cs
  src/App/Pages/Xbox/Overlay/SearchPage.xaml
  src/App/Pages/Xbox/Overlay/SearchPage.xaml.cs
  src/App/Pages/Xbox/PreSearchPage.xaml.cs
  src/Lib/DI.App/DIFactory.cs
  src/ViewModels/ViewModels.Interfaces/Search/ISearchBoxViewModel.cs
  src/ViewModels/ViewModels.Interfaces/Search/ISearchFilterViewModel.cs
  src/ViewModels/ViewModels.Interfaces/Search/ISearchModuleItemViewModel.cs
  src/ViewModels/ViewModels.Interfaces/Search/ISearchPageViewModel.cs
  src/ViewModels/ViewModels.Uwp/Search/SearchBoxViewModel/SearchBoxViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Search/SearchBoxViewModel/SearchBoxViewModel.cs
  src/ViewModels/ViewModels.Uwp/Search/SearchFilterViewModel.cs
  src/ViewModels/ViewModels.Uwp/Search/SearchModuleItemViewModel.cs
  src/ViewModels/ViewModels.Uwp/Search/SearchPageViewModel/SearchPageViewModel.Filters.cs
  src/ViewModels/ViewModels.Uwp/Search/SearchPageViewModel/SearchPageViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Search/SearchPageViewModel/SearchPageViewModel.cs
Labels: 维护 ⚒️

#1435 不对用户空间视频的时间进行本地转换
  src/Adapter/Adapter.Implementation/VideoAdapter.cs
Labels: bug 🐛

#1436 修复退出视频后没有释放DisplayRequest的问题
  src/App/Pages/Desktop/Overlay/VideoPlayerPage.xaml.cs
  src/Lib/DI.App/DIFactory.cs
  src/ViewModels/ViewModels.Interfaces/Core/IMediaPlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Method.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.cs
Labels: bug 🐛

#1437 修复不能连续播放的问题
  src/App/Pages/Desktop/Overlay/UserSpacePage.xaml
  src/ViewModels/ViewModels.Interfaces/IPlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Controls.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Method.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.Properties.cs
Labels: bug 🐛

#1438 修复未显示固定条目的问题
  src/ViewModels/ViewModels.Uwp/Account/AccountViewModel/AccountViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Account/AccountViewModel/AccountViewModel.SignIn.cs
  src/ViewModels/ViewModels.Uwp/Account/AccountViewModel/AccountViewModel.cs
Labels: bug 🐛

#1440 减缓内存泄漏的程度
  src/Adapter/Adapter.UnitTests/Adapter.UnitTests.csproj
  src/App/Controls/Danmaku/DanmakuView/DanmakuView.cs
  src/App/Controls/Player/BiliMediaPlayer/BiliMediaPlayer.Handlers.cs
  src/App/Controls/Player/BiliMediaTransportControls/BiliMediaTransportControls.Fields.cs
  src/App/Controls/Player/BiliMediaTransportControls/BiliMediaTransportControls.Handlers.cs
  src/App/Controls/Player/BiliMediaTransportControls/BiliMediaTransportControls.cs
  src/App/Controls/Player/BiliMediaTransportControls/BiliMediaTransportControls.xaml
  src/App/Pages/Desktop/Overlay/VideoPlayerPage.xaml
  src/App/Pages/Desktop/Overlay/VideoPlayerPage.xaml.cs
  src/Lib/Lib.Implementation/Lib.Implementation.csproj
  src/Models/Models.gRPC/Models.gRPC.csproj
  src/Tasks/Tasks.csproj
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Method.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Video/VideoPlayerPageViewModel/VideoPlayerPageViewModel.cs
  src/ViewModels/ViewModels.Uwp/ViewModels.Uwp.csproj
Labels: 维护 ⚒️

#1441 修复退出直播间时闪退的问题
  src/ViewModels/ViewModels.Uwp/Account/AccountViewModel/AccountViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Account/AccountViewModel/AccountViewModel.SignIn.cs
  src/ViewModels/ViewModels.Uwp/Account/AccountViewModel/AccountViewModel.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Method.cs
  src/ViewModels/ViewModels.Uwp/ViewModels.Uwp.csproj
Labels: bug 🐛

#1446 修复SMTC显示重复播放器的问题
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Live.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Method.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Video.cs
Labels: bug 🐛

#1447 修复弹幕重复加载的问题
  src/App/Controls/Player/BiliMediaPlayer/BiliMediaPlayer.Handlers.cs
Labels: bug 🐛

#1459 修复用户空间二次搜索不生效的问题
  src/ViewModels/ViewModels.Uwp/Account/UserSpaceViewModel/UserSpaceViewModel.cs
Labels: bug 🐛

#1461 移除视频/文章卡片上的用户头像
  src/Adapter/Adapter.Implementation/UserAdapter.cs
  src/Adapter/Adapter.Implementation/VideoAdapter.cs
  src/App/Controls/Article/ArticleItem/ArticleItem.xaml
  src/App/Controls/Videos/VideoItem/VideoItem.xaml
  src/App/Resources/Strings/zh-Hans/Resources.resw
  src/App/Resources/Strings/zh-Hant/Resources.resw
  src/Models/Models.Enums/App/LanguageNames.cs
  src/ViewModels/ViewModels.Interfaces/Article/IArticleItemViewModel.cs
  src/ViewModels/ViewModels.Uwp/Article/ArticleItemViewModel/ArticleItemViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Article/ArticleItemViewModel/ArticleItemViewModel.cs
Labels: 功能 💡

#1471 自述文件勘误
  README.md
Labels: 文档 📃
