Repository Richasy/Bili.Uwp, pull requests merged in 2022-02, with the labels that each got.

#752 支持清理本地图片缓存
  src/App/App.csproj
  src/App/Controls/Settings/CacheSettingSection.xaml
  src/App/Controls/Settings/CacheSettingSection.xaml.cs
  src/App/Pages/SettingPage.xaml
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/Models/Models.Enums/App/LanguageNames.cs
Labels: 功能 💡

#753 修复热搜Id解析问题
  src/Models/Models.BiliBili/Search/SearchSquareItem.cs
Labels: bug 🐛

#755 添加返回主页按钮
  src/App/Controls/App/AppTitleBar.xaml
  src/App/Controls/App/AppTitleBar.xaml.cs
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/Models/Models.Enums/App/LanguageNames.cs
  src/ViewModels/ViewModels.Uwp/Common/AppViewModel/AppViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
Labels: 功能 💡

#765 布局性能优化
  src/App/App.csproj
  src/App/Controls/App/CardPanel/CardPanel.Properties.cs
  src/App/Controls/App/CardPanel/CardPanel.xaml
  src/App/Controls/App/IconTextBlock.xaml
  src/App/Controls/App/IconTextBlock/IconTextBlock.cs
  src/App/Controls/App/IconTextBlock/IconTextBlock.xaml
  src/App/Controls/Common/VerticalRepeaterView.xaml
  src/App/Controls/Common/VideoItem.xaml
  src/App/Controls/Dynamic/DynamicItem.xaml
  src/App/Controls/Pgc/PgcItem.xaml
  src/App/Controls/User/UserAvatar.xaml
  src/App/Styles/Theme.Dark.xaml
  src/App/Styles/Theme.Light.xaml
  src/App/Themes/Generic.xaml
Labels: 操作与体验 🧤

#707 更换gRPC为托管实现
  Directory.Build.props
  TestUtils.targets
  UnitTests.targets
  src/App/App.csproj
  src/Controller/Controller.Uwp.UnitTests/Controller.Uwp.UnitTests.csproj
  src/Controller/Controller.Uwp/Controller.Uwp.csproj
  src/Lib/Lib.Interfaces/Lib.Interfaces.csproj
  src/Lib/Lib.Uwp/Lib.Uwp.csproj
  src/Models/Models.gRPC/Models.gRPC.csproj
  src/Utilities/Locator/Locator.Uwp.UnitTests/Locator.Uwp.UnitTests.csproj
  src/Utilities/Toolkit/Toolkit.Uwp.UnitTests/Toolkit.Uwp.UnitTests.csproj
  src/ViewModels/ViewModels.Uwp.UnitTests/ViewModels.Uwp.UnitTests.csproj
  src/ViewModels/ViewModels.Uwp/ViewModels.Uwp.csproj
Labels: 维护 ⚒️

#766 移除登录失败限制
  src/App/App.csproj
  src/ViewModels/ViewModels.Uwp/Account/AccountViewModel/AccountViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Account/AccountViewModel/AccountViewModel.cs
  src/ViewModels/ViewModels.Uwp/ViewModels.Uwp.csproj
Labels: bug 🐛
