Repository Richasy/Bili.Uwp, pull requests merged in 2022-03, with the labels that each got.

#780 支持固定UP主到首页
  src/App/Controls/App/RootNavigationView.xaml
  src/App/Controls/App/RootNavigationView.xaml.cs
  src/App/Controls/User/UserAvatar.xaml.cs
  src/App/Controls/User/UserView.xaml
  src/App/Controls/User/UserView.xaml.cs
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/Controller/Controller.Uwp/BiliController.Partition.cs
  src/Models/Models.App/Constants/AppConstants.cs
  src/Models/Models.App/Other/FixedPublisher.cs
  src/Models/Models.Enums/App/LanguageNames.cs
  src/ViewModels/ViewModels.Uwp/Account/AccountViewModel/AccountViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Account/AccountViewModel/AccountViewModel.cs
  src/ViewModels/ViewModels.Uwp/Account/UserViewModel/UserViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Account/UserViewModel/UserViewModel.cs
Labels: 功能 💡

#781 支持右键视频在浏览器中打开
  src/App/Controls/Common/VideoItem.xaml
  src/App/Controls/Common/VideoItem.xaml.cs
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/Models/Models.Enums/App/LanguageNames.cs
Labels: 功能 💡

#782 支持在用户界面搜索视频
  src/App/Controls/User/UserView.xaml
  src/App/Controls/User/UserView.xaml.cs
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/Controller/Controller.Uwp/BiliController.Account.cs
  src/Controller/Controller.Uwp/BiliController.Search.cs
  src/Controller/Controller.Uwp/BiliController.cs
  src/Lib/Lib.Interfaces/IAccountProvider.cs
  src/Lib/Lib.Uwp/AccountProvider/AccountProvider.cs
  src/Models/Models.App/Args/UserSpaceSearchVideoIterationEventArgs.cs
  src/Models/Models.App/Constants/ApiConstants.cs
  src/Models/Models.Enums/App/LanguageNames.cs
  src/Models/Models.gRPC/Models.gRPC.csproj
  src/Models/Models.gRPC/bilibili/app/interfaces/v1/space.proto
  src/ViewModels/ViewModels.Uwp/Account/UserViewModel/UserViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Account/UserViewModel/UserViewModel.cs
  src/ViewModels/ViewModels.Uwp/Base/WebRequestViewModelBase.cs
  src/ViewModels/ViewModels.Uwp/Common/VideoViewModel/VideoViewModel.cs
Labels: 功能 💡

#784 支持在评论中显示表情
  src/App/App.csproj
  src/App/Controls/Common/EmotiTextBlock/EmotiTextBlock.cs
  src/App/Controls/Common/EmotiTextBlock/EmotiTextBlock.xaml
  src/App/Controls/Common/ReplyItem.xaml
  src/App/Controls/Common/ReplyItem.xaml.cs
  src/App/Themes/Generic.xaml
  src/Controller/Controller.Uwp/BiliController.Live.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
Labels: 功能 💡

#785 添加更多BBDown可配置项
  src/App/Controls/Player/DownloadOptionsPanel.xaml
  src/App/Controls/Player/DownloadOptionsPanel.xaml.cs
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/Models/Models.Enums/App/LanguageNames.cs
  src/Models/Models.Enums/App/SettingNames.cs
  src/ViewModels/ViewModels.Uwp/Common/DownloadViewModel.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
Labels: 功能 💡

#786 添加工具箱
  src/App/App.csproj
  src/App/Controls/App/RootNavigationView.xaml
  src/App/Controls/App/RootNavigationView.xaml.cs
  src/App/Controls/Toolbox/AvBvConverterView.xaml
  src/App/Controls/Toolbox/AvBvConverterView.xaml.cs
  src/App/Controls/Toolbox/CoverDownloaderView.xaml
  src/App/Controls/Toolbox/CoverDownloaderView.xaml.cs
  src/App/Package.appxmanifest
  src/App/Pages/ToolboxPage.xaml
  src/App/Pages/ToolboxPage.xaml.cs
  src/App/Resources/Converter/ToolboxItemIconConverter.cs
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/Controller/Controller.Uwp/BiliController.Player.cs
  src/Lib/Lib.Interfaces/IPlayerProvider.cs
  src/Lib/Lib.Uwp/PlayerProvider/PlayerProvider.cs
  src/Models/Models.Enums/App/LanguageNames.cs
  src/Models/Models.Enums/App/PageIds.cs
  src/Models/Models.Enums/App/ToolboxItemType.cs
  src/Models/Models.Enums/App/VideoIdType.cs
  src/ViewModels/ViewModels.Uwp/Toolbox/AvBvConverterViewModel.cs
  src/ViewModels/ViewModels.Uwp/Toolbox/CoverDownloaderViewModel.cs
  src/ViewModels/ViewModels.Uwp/Toolbox/ToolboxItemViewModel.cs
  src/ViewModels/ViewModels.Uwp/Toolbox/ToolboxPageViewModel/ToolboxPageViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Toolbox/ToolboxPageViewModel/ToolboxPageViewModel.cs
  src/ViewModels/ViewModels.Uwp/ViewModels.Uwp.csproj
Labels: 功能 💡

#797 修复下载类型完整但仍标识为仅限视频的问题
  src/App/Controls/Player/DownloadOptionsPanel.xaml.cs
Labels: bug 🐛

#798 修复评论详情显示为其它内容的问题
  src/App/Controls/Common/EmotiTextBlock/EmotiTextBlock.cs
Labels: bug 🐛

#799 修复帮助页面链接滚动布局错位的问题
  src/App/Pages/HelpPage.xaml
  src/App/Pages/HelpPage.xaml.cs
Labels: bug 🐛

#800 修复弹幕速度跳变的问题
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.cs
  src/ViewModels/ViewModels.Uwp/Common/DanmakuViewModel/DanmakuViewModel.Properties.cs
Labels: bug 🐛

#801 修复电影本体和PV不能正常切换的问题
  src/App/Controls/Player/Related/PgcSectionView.xaml.cs
  src/App/Controls/Player/Related/SeasonView.xaml.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
Labels: bug 🐛

#821 支持截图
  src/App/App.csproj
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.Properties.cs
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.cs
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.xaml
  src/App/Controls/Settings/ScreenshotSettingSection.xaml
  src/App/Controls/Settings/ScreenshotSettingSection.xaml.cs
  src/App/Pages/SettingPage.xaml
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/Models/Models.App/Constants/AppConstants.cs
  src/Models/Models.Enums/App/LanguageNames.cs
  src/Models/Models.Enums/App/SettingNames.cs
  src/ViewModels/ViewModels.Uwp/Common/AppViewModel/AppViewModel.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Interaction.cs
  src/ViewModels/ViewModels.Uwp/Common/SettingViewModel/SettingViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/SettingViewModel/SettingViewModel.cs
Labels: 功能 💡

#829 修改错误的仓库地址
  src/ViewModels/ViewModels.Uwp/Common/HelpViewModel/HelpViewModel.cs
Labels: bug 🐛

#842 支持优先AV1解码
  src/App/Resources/Converter/PreferCodecConverter.cs
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/Lib/Lib.Uwp/PlayerProvider/PlayerProvider.Extension.cs
  src/Models/Models.Enums/App/LanguageNames.cs
  src/Models/Models.Enums/App/PreferCodec.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Dash.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Common/SettingViewModel/SettingViewModel.cs
Labels: 功能 💡

#843 播放速率功能调整
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.xaml
  src/App/Controls/Settings/PlayerControlSettingSection.xaml
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/Models/Models.Enums/App/LanguageNames.cs
  src/Models/Models.Enums/App/SettingNames.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Common/SettingViewModel/SettingViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/SettingViewModel/SettingViewModel.cs
Labels: 功能 💡

#844 修复视频发布时间的时差问题
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Methods.cs
Labels: bug 🐛

#866 减少列表和图片控件嵌套以提高稳定性
  src/App/App.csproj
  src/App/Controls/App/CommonImageEx.xaml
  src/App/Controls/App/CommonImageEx/CommonImageEx.cs
  src/App/Controls/App/CommonImageEx/CommonImageEx.xaml
  src/App/Controls/Common/VerticalRepeaterView.xaml
  src/App/Controls/Common/VerticalRepeaterView/VerticalRepeaterView.Properties.cs
  src/App/Controls/Common/VerticalRepeaterView/VerticalRepeaterView.cs
  src/App/Controls/Common/VerticalRepeaterView/VerticalRepeaterView.xaml
  src/App/Controls/Dynamic/DynamicItem.xaml.cs
  src/App/Themes/Generic.xaml
Labels: bug 🐛

#867 添加全局播放速率设置
  src/App/Controls/Settings/PlayerControlSettingSection.xaml
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/App/Themes/Generic.xaml
  src/Models/Models.Enums/App/LanguageNames.cs
  src/Models/Models.Enums/App/SettingNames.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Common/SettingViewModel/SettingViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/SettingViewModel/SettingViewModel.cs
Labels: 功能 💡

#869 修复播放 PGC 时没有正确跳转历史记录的问题
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Methods.cs
Labels: bug 🐛

#870 修复按下空格键有时无法播放/暂停的问题
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.Properties.cs
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.cs
Labels: bug 🐛

#873 支持标签显示及跳转搜索
  src/App/Controls/App/BubbleView/Bubble.cs
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.cs
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.xaml
  src/App/Controls/Player/PlayerDescriptor.xaml
  src/App/Controls/Player/PlayerDescriptor.xaml.cs
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/App/Styles/Style.Dimensions.xaml
  src/Models/Models.App/Other/VideoTag.cs
  src/Models/Models.Enums/App/LanguageNames.cs
  src/Models/Models.Enums/App/SettingNames.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Live.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
Labels: 功能 💡

#874 支持播放速率快速切换
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.Properties.cs
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.cs
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.xaml
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/Models/Models.Enums/App/LanguageNames.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
Labels: 功能 💡

#875 添加音量和倍速播放快捷键
  src/App/App.csproj
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.Properties.cs
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.cs
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.xaml
  src/App/Resources/Misc/Question.CHS.json
  src/App/Resources/Misc/Update.en_US.txt
  src/App/Resources/Misc/Update.zh_CN.txt
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/Models/Models.Enums/App/LanguageNames.cs
Labels: 功能 💡

#876 更新 Issue 模板
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/doc.md
  .github/ISSUE_TEMPLATE/doc_change.yml
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/labeler.yml
Labels: 维护 ⚒️

#885 提供命令行启动方案
  src/App/App.xaml.cs
  src/App/Controls/App/BubbleView/Bubble.cs
  src/App/Controls/App/RootNavigationView.xaml
  src/App/Controls/App/RootNavigationView.xaml.cs
  src/App/Package.appxmanifest
  src/App/Pages/RootPage.xaml
  src/App/Pages/RootPage.xaml.cs
  src/Controller/Controller.Uwp/BiliController.Auth.cs
  src/Lib/Lib.Interfaces/IAuthorizeProvider.cs
  src/Lib/Lib.Uwp/AuthorizeProvider/AuthorizeProvider.cs
  src/Models/Models.App/Other/CurrentPlayingRecord.cs
  src/Models/Models.Enums/App/PageIds.cs
  src/ViewModels/ViewModels.Uwp/Account/AccountViewModel/AccountViewModel.cs
  src/ViewModels/ViewModels.Uwp/Common/AppViewModel/AppViewModel.Command.cs
  src/ViewModels/ViewModels.Uwp/Common/AppViewModel/AppViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/AppViewModel/AppViewModel.cs
  src/ViewModels/ViewModels.Uwp/Common/CommandLineViewModel.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/ViewModels.Uwp.csproj
Labels: 功能 💡

#886 修复窄视图下关注直播间无法点击的问题
  src/App/Controls/Live/FollowLiveItem.xaml
  src/App/Controls/Live/FollowLiveItem.xaml.cs
  src/App/Controls/Live/FollowLiveView.xaml
Labels: bug 🐛

#888 支持鼠标中键及侧键返回
  src/App/Pages/Overlay/PlayerPage.xaml
  src/App/Pages/Overlay/PlayerPage.xaml.cs
  src/App/Pages/RootPage.xaml
  src/App/Pages/RootPage.xaml.cs
Labels: 功能 💡

#890 扩大标题栏中返回按钮的可交互区域
  src/App/Controls/App/AppTitleBar.xaml
  src/App/Styles/Style.Overwrite.xaml
Labels: 功能 💡, 操作与体验 🧤

#889 修复密码登录问题
  src/Lib/Lib.Uwp/AuthorizeProvider/AccountLoginDialog.xaml
  src/Lib/Lib.Uwp/AuthorizeProvider/AccountLoginDialog.xaml.cs
  src/Lib/Lib.Uwp/AuthorizeProvider/AuthorizeProvider.Extension.cs
  src/Lib/Lib.Uwp/AuthorizeProvider/AuthorizeProvider.cs
  src/Lib/Lib.Uwp/Lib.Uwp.csproj
  src/Models/Models.App/Constants/ApiConstants.cs
  src/Models/Models.App/Constants/ServiceConstants.cs
  src/Models/Models.BiliBili/Authorize/AuthorizeResult.cs
  src/Models/Models.Enums/Authorize/RequestClientType.cs
Labels: bug 🐛

#891 超时自动隐藏历史记录提醒
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.Properties.cs
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.cs
Labels: 功能 💡

#892 替换推荐视频数据源为平板源
  src/App/Controls/App/AppTitleBar.xaml
  src/App/Controls/Common/VideoItem.xaml
  src/Lib/Lib.Uwp/RecommendProvider/RecommendProvider.cs
  src/Models/Models.BiliBili/Core/RecommendCard.cs
  src/ViewModels/ViewModels.Uwp/Account/UserViewModel/UserViewModel.cs
  src/ViewModels/ViewModels.Uwp/Common/VideoViewModel/VideoViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/VideoViewModel/VideoViewModel.cs
Labels: 功能 💡

#897 支持自动播放关联视频
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.Properties.cs
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.cs
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.xaml
  src/App/Controls/Settings/PlayerModeSettingSection.xaml
  src/App/Pages/SettingPage.xaml
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/Models/Models.Enums/App/LanguageNames.cs
  src/Models/Models.Enums/App/SettingNames.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Common/SettingViewModel/SettingViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/SettingViewModel/SettingViewModel.cs
Labels: 功能 💡

#898 支持连续播放稍后再看列表
  src/App/App.csproj
  src/App/Controls/App/CardPanel/CardPanel.Properties.cs
  src/App/Controls/App/CardPanel/CardPanel.cs
  src/App/Controls/App/CommonImageEx/CommonImageEx.cs
  src/App/Controls/App/CommonImageEx/CommonImageEx.xaml
  src/App/Controls/Common/VideoItem.xaml
  src/App/Controls/Common/VideoItem.xaml.cs
  src/App/Controls/Player/PlayerRelatedView.xaml
  src/App/Controls/Player/PlayerRelatedView.xaml.cs
  src/App/Controls/Player/Related/EpisodeView.xaml.cs
  src/App/Controls/Player/Related/PgcSectionView.xaml
  src/App/Controls/Player/Related/PgcSectionView.xaml.cs
  src/App/Controls/Player/Related/ViewLaterView.xaml
  src/App/Controls/Player/Related/ViewLaterView.xaml.cs
  src/App/Pages/Overlay/PlayerPage.xaml.cs
  src/App/Pages/Overlay/ViewLaterPage.xaml
  src/App/Pages/Overlay/ViewLaterPage.xaml.cs
  src/App/Resources/Strings/zh-CN/Resources.resw
  src/Models/Models.App/Constants/AppConstants.cs
  src/Models/Models.Enums/App/LanguageNames.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Common/VideoViewModel/VideoViewModel.Properties.cs
Labels: 功能 💡

#899 修复Xbox上返回按钮会直接退出应用的问题
  src/App/Pages/RootPage.xaml.cs
Labels: bug 🐛

#904 调整图片构建，界面优化
  src/App/App.xaml
  src/App/Assets/img_holder_rect.png
  src/App/Controls/App/CommonImageEx/CommonImageEx.xaml
  src/App/Controls/Common/VideoCard/VideoCard.Properties.cs
  src/App/Controls/Common/VideoCard/VideoCard.cs
  src/App/Controls/Common/VideoCard/VideoCard.xaml
  src/App/Controls/Common/VideoItem.xaml
  src/App/Controls/Dynamic/DynamicItem.xaml
  src/App/Controls/Dynamic/DynamicPgcItem.xaml.cs
  src/App/Controls/Dynamic/DynamicVideoItem.xaml
  src/App/Controls/Dynamic/DynamicVideoItem.xaml.cs
  src/App/Controls/Favorite/FavoriteVideoView.xaml
  src/App/Controls/Favorite/FavoriteVideoView.xaml.cs
  src/App/Controls/Favorite/VideoFavoritePanel.xaml
  src/App/Controls/Layout/AdaptiveLayout.cs
  src/App/Controls/Layout/AdaptiveLayoutState.cs
  src/App/Controls/Layout/CollectionExtensions.cs
  src/App/Controls/Layout/ElementManager.cs
  src/App/Controls/Layout/FlowLayoutAlgorithm.cs
  src/App/Controls/Layout/FlowLayoutAnchorInfo.cs
  src/App/Controls/Layout/IFlowLayoutAlgorithmDelegates.cs
  src/App/Controls/Layout/OrientationBasedMeasures.cs
  src/App/Controls/Live/FollowLiveItem.xaml
  src/App/Controls/Pgc/PgcItem.xaml.cs
  src/App/Controls/Player/Related/RelatedVideoView.xaml
  src/App/Controls/Player/Related/ViewLaterView.xaml
  src/App/Controls/Search/SearchLiveView.xaml
  src/App/Controls/Search/SearchVideoView.xaml
  src/App/Controls/User/UserView.xaml
  src/App/Controls/User/UserView.xaml.cs
  src/App/Pages/LivePage.xaml
  src/App/Pages/Overlay/FavoritePage.xaml
  src/App/Pages/Overlay/FavoritePage.xaml.cs
  src/App/Pages/Overlay/HistoryPage.xaml
  src/App/Pages/Overlay/PartitionDetailPage.xaml
  src/App/Pages/Overlay/ViewLaterPage.xaml
  src/App/Pages/PopularPage.xaml
  src/App/Pages/RankPage.xaml
  src/App/Pages/RecommendPage.xaml
  src/App/Pages/Reuse/AnimePage.xaml
  src/App/Resources/Misc/Question.CHS.json
Labels: bug 🐛

#940 优化播放控制器操作行为
  src/App/App.csproj
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.Properties.cs
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.cs
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.xaml
  src/App/Controls/Settings/PlayerControlSettingSection.xaml
  src/App/Resources/Converter/DoubleClickTextConverter.cs
  src/Models/Models.Enums/App/DoubleClickBehavior.cs
  src/ViewModels/ViewModels.Uwp/Common/SettingViewModel/SettingViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/SettingViewModel/SettingViewModel.cs
Labels: 功能 💡

#942 修复稍后再看条目菜单显示异常的问题
  src/App/Controls/Common/VideoCard/VideoCard.cs
  src/App/Pages/Overlay/HistoryPage.xaml
  src/App/Pages/Overlay/ViewLaterPage.xaml
Labels: bug 🐛

#943 修复下载文件夹选择器在Win10上不工作的问题
  src/ViewModels/ViewModels.Uwp/Common/DownloadViewModel.cs
Labels: bug 🐛

#944 修复后台会连播关联视频的问题
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
Labels: bug 🐛

#945 修复推荐视频卡片中的元素遮挡问题
  src/App/Controls/Common/VideoCard/VideoCard.xaml
Labels: bug 🐛, UI 问题 🎨

#946 修复用户视频滚动中条目消失的问题
  src/App/Controls/Common/VideoCard/VideoCard.xaml
  src/App/Controls/Favorite/FavoriteVideoView.xaml
  src/App/Controls/Favorite/PgcFavoritePanel.xaml
  src/App/Controls/User/UserView.xaml
Labels: bug 🐛, UI 问题 🎨

#948 修复全屏按钮在退出全屏模式后依然被选中的问题
  src/App/Controls/Player/BiliPlayerTransportControls/BiliPlayerTransportControls.cs
  src/ViewModels/ViewModels.Uwp/Common/PlayerViewModel/PlayerViewModel.cs
Labels: bug 🐛, UI 问题 🎨
