Repository Richasy/Bili.Uwp, pull requests merged in 2022-07, with the labels that each got.

#1296 Update Resources.resw
  src/App/Resources/Strings/zh-Hant/Resources.resw
Labels: 文档 📃

#1309 使用FFmpeg代替系统默认解码方式
  src/Adapter/Adapter.Implementation/PlayerAdapter.cs
  src/Adapter/Adapter.Interfaces/IPlayerAdapter.cs
  src/App/App.csproj
  src/App/Assets/DashVideoTemplate.xml
  src/App/Assets/DashVideoWithoutAudioTemplate.xml
  src/App/Controls/Danmaku/DanmakuView/DanmakuView.Methods.cs
  src/App/Controls/Player/BiliMediaPlayer/BiliMediaPlayer.xaml
  src/App/Controls/Settings/PlayerControlSettingSection.xaml
  src/App/Resources/Converter/DecodeTypeConverter.cs
  src/App/Resources/Strings/zh-Hans/Resources.resw
  src/App/Resources/Strings/zh-Hant/Resources.resw
  src/Lib/Lib.Implementation/HttpProvider/HttpProvider.cs
  src/Lib/Lib.Implementation/PlayerProvider/PlayerProvider.Extension.cs
  src/Lib/Lib.Implementation/PlayerProvider/PlayerProvider.cs
  src/Models/Models.App/Constants/ApiConstants.cs
  src/Models/Models.Data/Player/MediaInformation.cs
  src/Models/Models.Data/Player/SegmentInformation.cs
  src/Models/Models.Enums/App/DecodeType.cs
  src/Models/Models.Enums/App/LanguageNames.cs
  src/Models/Models.Enums/App/SettingNames.cs
  src/Models/Models.gRPC/bilibili/app/playurl/v1/playurl.proto
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Controls.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Dash.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Episode.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Live.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Method.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Video.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Home/SettingsPageViewModel/SettingsPageViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Home/SettingsPageViewModel/SettingsPageViewModel.cs
  src/ViewModels/ViewModels.Uwp/HttpRandomAccessStream.cs
  src/ViewModels/ViewModels.Uwp/ViewModels.Uwp.csproj
Labels: 功能 💡

#1311 在综合搜索结果中移除非视频搜索结果
  src/Adapter/Adapter.Implementation/SearchAdapter.cs
  src/Adapter/Adapter.Implementation/VideoAdapter.cs
  src/Lib/Lib.Implementation/SearchProvider/SearchProvider.cs
  src/Models/Models.Data/Community/Partition.cs
  src/ViewModels/ViewModels.Uwp/Search/SearchPageViewModel/SearchPageViewModel.cs
Labels: bug 🐛

#1312 更新 BBDown 下载面板配置
  src/App/Controls/Player/DownloadOptionsPanel.xaml
  src/App/Controls/Player/DownloadOptionsPanel.xaml.cs
  src/Models/Models.Enums/App/SettingNames.cs
  src/ViewModels/ViewModels.DI/DIFactory.cs
  src/ViewModels/ViewModels.DI/Properties/AssemblyInfo.cs
  src/ViewModels/ViewModels.DI/Properties/ViewModels.DI.rd.xml
  src/ViewModels/ViewModels.DI/TaskDIFactory.cs
  src/ViewModels/ViewModels.DI/ViewModels.DI.Desktop.csproj
  src/ViewModels/ViewModels.Uwp/Common/DownloadModuleViewModel/DownloadModuleViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/DownloadModuleViewModel/DownloadModuleViewModel.cs
  src/ViewModels/ViewModels.Uwp/Pgc/PgcPlayerPageViewModel/PgcPlayerPageViewModel.Initialize.cs
Labels: 功能 💡

#1313 隐藏用户无法观看的清晰度
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Live.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Video.cs
Labels: UI 问题 🎨

#1316 移除搜索类型的禁用状态
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Dash.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Live.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Video.cs
  src/ViewModels/ViewModels.Uwp/Search/SearchPageViewModel/SearchPageViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Search/SearchPageViewModel/SearchPageViewModel.Request.cs
  src/ViewModels/ViewModels.Uwp/Search/SearchPageViewModel/SearchPageViewModel.cs
Labels: bug 🐛

#1317 修复不能删除代理地址的问题
  src/App/Controls/Settings/RoamingSettingSection.xaml.cs
Labels: bug 🐛

#1318 重新添加原生播放解析，并提供设置项切换
  src/Adapter/Adapter.Implementation/PlayerAdapter.cs
  src/App/App.csproj
  src/App/Assets/DashVideoTemplate.xml
  src/App/Assets/DashVideoWithoutAudioTemplate.xml
  src/App/Controls/Settings/PlayerControlSettingSection.xaml
  src/App/Resources/Converter/PlayerTypeConverter.cs
  src/App/Resources/Strings/zh-Hans/Resources.resw
  src/App/Resources/Strings/zh-Hant/Resources.resw
  src/Models/Models.Data/Player/MediaInformation.cs
  src/Models/Models.Data/Player/SegmentInformation.cs
  src/Models/Models.Enums/App/LanguageNames.cs
  src/Models/Models.Enums/App/SettingNames.cs
  src/Models/Models.Enums/Player/PlayerType.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Controls.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Dash.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Method.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Video.cs
  src/ViewModels/ViewModels.Uwp/Home/SettingsPageViewModel/SettingsPageViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Home/SettingsPageViewModel/SettingsPageViewModel.cs
Labels: 功能 💡

#1320 修复索引页面没有正常应用条件的问题
  src/ViewModels/ViewModels.Uwp/Base/InformationFlowViewModelBase/InformationFlowViewModelBase.cs
  src/ViewModels/ViewModels.Uwp/Pgc/IndexPageViewModel/IndexPageViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Pgc/IndexPageViewModel/IndexPageViewModel.cs
Labels: bug 🐛

#1351 支持画质选择
  src/App/App.csproj
  src/App/Controls/Pgc/PgcSeasonDetailView.xaml
  src/App/Controls/Settings/PlayerModeSettingSection.xaml
  src/App/Resources/Converter/PreferQualityConverter.cs
  src/App/Resources/Strings/zh-Hans/Resources.resw
  src/App/Resources/Strings/zh-Hant/Resources.resw
  src/Models/Models.Enums/App/LanguageNames.cs
  src/Models/Models.Enums/App/SettingNames.cs
  src/Models/Models.Enums/Player/PreferQuality.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Live.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Method.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Video.cs
  src/ViewModels/ViewModels.Uwp/Home/SettingsPageViewModel/SettingsPageViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Home/SettingsPageViewModel/SettingsPageViewModel.cs
Labels: 功能 💡, Xbox 🎮

#1352 修复直播弹幕的描边问题
  src/App/Controls/Danmaku/DanmakuView/DanmakuView.Methods.cs
Labels: bug 🐛, UI 问题 🎨

#1369 抽离播放器模块并修复退出直播时崩溃的问题
  src/Lib/DI.App/DIFactory.cs
  src/Models/Models.App/Args/AuthorizeStateChangedEventArgs.cs
  src/Models/Models.App/Args/MediaPositionChangedEventArgs.cs
  src/Models/Models.App/Args/MediaStateChangedEventArgs.cs
  src/Models/Models.BiliBili/Live/LiveFeedBanner.cs
  src/Models/Models.BiliBili/Live/LiveFeedHotArea.cs
  src/Models/Models.BiliBili/Live/LiveFeedRoom.cs
  src/Models/Models.BiliBili/Live/LiveRoomCard.cs
  src/Models/Models.Enums/App/PlayerStatus.cs
  src/ViewModels/ViewModels.Interfaces/IFFmpegPlayerViewModel.cs
  src/ViewModels/ViewModels.Interfaces/INativePlayerViewModel.cs
  src/ViewModels/ViewModels.Interfaces/IPlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Base/PlayerPageViewModelBase.cs
  src/ViewModels/ViewModels.Uwp/Core/AppViewModel/AppViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Controls.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Dash.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Episode.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Live.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Method.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Video.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/HttpRandomAccessStream.cs
  src/ViewModels/ViewModels.Uwp/Live/LivePlayerPageViewModel/LivePlayerPageViewModel.Reset.cs
  src/ViewModels/ViewModels.Uwp/Live/LivePlayerPageViewModel/LivePlayerPageViewModel.cs
  src/ViewModels/ViewModels.Uwp/Video/VideoPlayerPageViewModel/VideoPlayerPageViewModel.cs
  src/ViewModels/ViewModels.Uwp/ViewModels.Uwp.csproj
Labels: bug 🐛

#1370 修复在直播时没有阻止系统休眠的问题
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Live.cs
  src/ViewModels/ViewModels.Uwp/HttpRandomAccessStream.cs
Labels: bug 🐛

#1377 修复直播的播放问题
  src/App/App.csproj
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/ViewModels.Uwp.csproj
Labels: bug 🐛

#1378 默认不生成pdb文件以降低打包大小
  src/App/App.csproj
Labels: 维护 ⚒️

#1383 修复FFmpeg视频播放中断的问题
  src/Models/Models.BiliBili/Live/LiveAppPlayInformation.cs
  src/Models/Models.BiliBili/Live/LiveRoomBase.cs
  src/Models/Models.BiliBili/Live/LiveRoomDetail.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.cs
Labels: bug 🐛

#1386 修复FFmpeg播放的一些问题，并手动集成SMTC
  src/Adapter/Adapter.Implementation/UserAdapter.cs
  src/Adapter/Adapter.Interfaces/IUserAdapter.cs
  src/App/Controls/Player/BiliMediaPlayer/BiliMediaPlayer.Handlers.cs
  src/App/Controls/Player/BiliMediaTransportControls/BiliMediaTransportControls.Fields.cs
  src/App/Controls/Player/BiliMediaTransportControls/BiliMediaTransportControls.Handlers.cs
  src/App/Controls/Player/BiliMediaTransportControls/BiliMediaTransportControls.cs
  src/App/Controls/Player/BiliMediaTransportControls/BiliMediaTransportControls.xaml
  src/Lib/DI.App/DIFactory.cs
  src/ViewModels/ViewModels.Interfaces/IPlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Controls.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Episode.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Live.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Method.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Video.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/HttpRandomAccessStream.cs
  src/ViewModels/ViewModels.Uwp/Search/SearchPageViewModel/SearchPageViewModel.Request.cs
Labels: bug 🐛

#1387 修复媒体传输控件没有自动隐藏的问题
  src/App/Controls/Player/BiliMediaPlayer/BiliMediaPlayer.Methods.cs
  src/App/Controls/Player/BiliMediaTransportControls/BiliMediaTransportControls.xaml
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Method.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/HttpRandomAccessStream.cs
Labels: bug 🐛

#1388 在开启循环的情况下不自动切换下一集
  src/App/Controls/Player/BiliMediaPlayer/BiliMediaPlayer.Fields.cs
  src/App/Controls/Player/BiliMediaPlayer/BiliMediaPlayer.Handlers.cs
  src/App/Controls/Player/BiliMediaPlayer/BiliMediaPlayer.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Method.cs
Labels: bug 🐛

#1389 在手势操作结束后恢复视频播放
  src/App/Controls/Player/BiliMediaPlayer/BiliMediaPlayer.Handlers.cs
Labels: bug 🐛

#1392 在分集区域显示滚动条
  src/App/Controls/Player/PgcEpisodeView.xaml
  src/App/Controls/Player/UgcSeasonView.xaml
  src/App/Controls/Player/VideoPartView.xaml
  src/ViewModels/ViewModels.Uwp/Pgc/PgcPlayerPageViewModel/PgcPlayerPageViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Pgc/PgcPlayerPageViewModel/PgcPlayerPageViewModel.cs
Labels: UI 问题 🎨

#1403 修复上一个视频的播放进度会保留至下一个视频的问题
  src/Models/Models.Enums/App/PlayerStatus.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Controls.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Episode.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Method.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Video.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/HttpRandomAccessStream.cs
Labels: bug 🐛

#1405 在进入包含历史记录的视频时显示进度提示
  src/App/Controls/Player/BiliMediaPlayer/BiliMediaPlayer.Fields.cs
  src/App/Controls/Player/BiliMediaPlayer/BiliMediaPlayer.Handlers.cs
  src/App/Controls/Player/BiliMediaPlayer/BiliMediaPlayer.Methods.cs
  src/App/Controls/Player/BiliMediaPlayer/BiliMediaPlayer.xaml
  src/ViewModels/ViewModels.Uwp/Core/FFmpegPlayerViewModel/FFmpegPlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Properties.cs
Labels: 功能 💡

#1407 修复 Popup 中的输入框不能聚焦的问题
  src/App/Controls/App/CenterPopup/CenterPopup.cs
  src/App/Controls/App/CenterPopup/CenterPopup.xaml
  src/App/Controls/Community/CommentBox.xaml
  src/App/Controls/Community/CommentMainView/CommentMainView.xaml
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.Methods.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Core/NativePlayerViewModel/NativePlayerViewModel.cs
Labels: bug 🐛, UI 问题 🎨

#1421 拆分账户视图模型
  src/App/Controls/Base/NavigationViewBase.cs
  src/App/Controls/Danmaku/DanmakuView/DanmakuView.Methods.cs
  src/App/Controls/User/AccountAvatar.xaml.cs
  src/App/Controls/User/AccountPanel.xaml.cs
  src/App/Pages/RootPage.xaml.cs
  src/Lib/DI.App/DIFactory.cs
  src/ViewModels/ViewModels.Interfaces/Account/IAccountViewModel.cs
  src/ViewModels/ViewModels.Uwp/Account/AccountViewModel/AccountViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Account/AccountViewModel/AccountViewModel.cs
  src/ViewModels/ViewModels.Uwp/Account/MyFollowsPageViewModel/MyFollowsPageViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Account/MyFollowsPageViewModel/MyFollowsPageViewModel.cs
  src/ViewModels/ViewModels.Uwp/Account/UserItemViewModel/UserItemViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Account/UserItemViewModel/UserItemViewModel.cs
  src/ViewModels/ViewModels.Uwp/Account/UserSpaceViewModel/UserSpaceViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Account/UserSpaceViewModel/UserSpaceViewModel.cs
  src/ViewModels/ViewModels.Uwp/Account/XboxAccountPageViewModel/XboxAccountPageViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Account/XboxAccountPageViewModel/XboxAccountPageViewModel.cs
  src/ViewModels/ViewModels.Uwp/Common/DownloadModuleViewModel/DownloadModuleViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Common/DownloadModuleViewModel/DownloadModuleViewModel.cs
  src/ViewModels/ViewModels.Uwp/Community/MessagePageViewModel/MessagePageViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Community/MessagePageViewModel/MessagePageViewModel.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Core/MediaPlayerViewModel/MediaPlayerViewModel.cs
  src/ViewModels/ViewModels.Uwp/Live/LivePlayerPageViewModel/LivePlayerPageViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Live/LivePlayerPageViewModel/LivePlayerPageViewModel.cs
  src/ViewModels/ViewModels.Uwp/Pgc/PgcPlayerPageViewModel/PgcPlayerPageViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Pgc/PgcPlayerPageViewModel/PgcPlayerPageViewModel.cs
  src/ViewModels/ViewModels.Uwp/Video/VideoFavoriteFolderDetailViewModel/VideoFavoriteFolderDetailViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Video/VideoFavoriteFolderDetailViewModel/VideoFavoriteFolderDetailViewModel.cs
  src/ViewModels/ViewModels.Uwp/Video/VideoPlayerPageViewModel/VideoPlayerPageViewModel.Properties.cs
  src/ViewModels/ViewModels.Uwp/Video/VideoPlayerPageViewModel/VideoPlayerPageViewModel.cs
Labels: 维护 ⚒️
